In [13]:
!pip install BeautifulSoup4
!pip install requests
from bs4 import BeautifulSoup
import requests
import numpy as np
import pandas as pd

Requirement already satisfied: BeautifulSoup4 in c:\users\claus\anaconda3\envs\environment_uoc20212pec2\lib\site-packages (4.10.0)
Requirement already satisfied: soupsieve>1.2 in c:\users\claus\anaconda3\envs\environment_uoc20212pec2\lib\site-packages (from BeautifulSoup4) (2.3.1)
Requirement already satisfied: requests in c:\users\claus\anaconda3\envs\environment_uoc20212pec2\lib\site-packages (2.27.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\claus\anaconda3\envs\environment_uoc20212pec2\lib\site-packages (from requests) (1.26.9)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\claus\anaconda3\envs\environment_uoc20212pec2\lib\site-packages (from requests) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in c:\users\claus\anaconda3\envs\environment_uoc20212pec2\lib\site-packages (from requests) (3.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\claus\anaconda3\envs\environment_uoc20212pec2\lib\site-packages (from requests) (2.0.12)

In [19]:
# Fijamos url de la web
url = 'https://tarifaluzhora.es/'

# Hacemos la petición a la página
response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')

                  column1
00h - 01h:  0.33468 €/kWh
01h - 02h:  0.31902 €/kWh
02h - 03h:  0.30903 €/kWh
03h - 04h:  0.29593 €/kWh
04h - 05h:  0.29989 €/kWh
05h - 06h:   0.3092 €/kWh
06h - 07h:  0.32472 €/kWh
07h - 08h:  0.32824 €/kWh
08h - 09h:  0.37147 €/kWh
09h - 10h:   0.3673 €/kWh
10h - 11h:  0.42221 €/kWh
11h - 12h:  0.41606 €/kWh
12h - 13h:  0.41239 €/kWh
13h - 14h:  0.41127 €/kWh
14h - 15h:  0.33943 €/kWh
15h - 16h:  0.33612 €/kWh
16h - 17h:  0.32761 €/kWh
17h - 18h:  0.31185 €/kWh
18h - 19h:  0.39006 €/kWh
19h - 20h:   0.4168 €/kWh
20h - 21h:  0.43635 €/kWh
21h - 22h:  0.44541 €/kWh
22h - 23h:  0.35615 €/kWh
23h - 24h:  0.35182 €/kWh

In [65]:
# Obtenemos las horas
horas = soup.find_all('span', itemprop="description")

# Obtenemos los precios
precios = soup.find_all('span', itemprop="price")

# Obtenemos la fecha
fecha = soup.find('input', {'name': 'date'}).get('value')

# Creamos un array con el contenido de las horas
columnas = []
for h in horas:
    columnas.append(h.text)
    
# Creamos un array con el contenido de los precios
contenido = []
for p in precios:
    contenido.append(p.text)

'30/03/2022'

In [82]:
# Creamos un dataset con los datos del primer día, cuyas columnas son la fecha y las horas
df = pd.DataFrame(data=[np.array(contenido)], columns=columnas)
df['fecha'] = fecha
cols = df.columns.tolist()
cols = cols[-1:] + cols[:-1]
df = df[cols]
df

,fecha,00h - 01h:,01h - 02h:,02h - 03h:,03h - 04h:,04h - 05h:,05h - 06h:,06h - 07h:,07h - 08h:,08h - 09h:,...,14h - 15h:,15h - 16h:,16h - 17h:,17h - 18h:,18h - 19h:,19h - 20h:,20h - 21h:,21h - 22h:,22h - 23h:,23h - 24h:
0,30/03/2022,0.33468 €/kWh,0.31902 €/kWh,0.30903 €/kWh,0.29593 €/kWh,0.29989 €/kWh,0.3092 €/kWh,0.32472 €/kWh,0.32824 €/kWh,0.37147 €/kWh,...,0.33943 €/kWh,0.33612 €/kWh,0.32761 €/kWh,0.31185 €/kWh,0.39006 €/kWh,0.4168 €/kWh,0.43635 €/kWh,0.44541 €/kWh,0.35615 €/kWh,0.35182 €/kWh